<main class="container-cards">
  <% @challenges.each do |challenge|%>
    <%= link_to(challenge_path(challenge), class: "card-challenge") do %>
      <img src= "<%= challenge.poster_url %>", alt="Challenge poster">
      <div class="card-challenge-infos">
        <h2> <%= challenge.title %> </h2>
        <p> <%= challenge.description %> </p>
      </div>
      <div class="card-challenge-category">
        <img src="/images/mental_fitness.svg" alt="category">
      </div>
    <% end %>
  <% end %>
</main>
