<h1> <%= @challenge.title %></h1>

<div id="challenges-show">
  <img src="<%= @challenge.poster_url %>" alt="Challenge Photo">
  <div class="show-info">
    <p><%= @challenge.description %></p>
    <button>Add to my challenges</button>
  </div>
</div>
