.card-challenge {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 45vh;
  text-decoration: unset;
  color: inherit;
  position: relative;
}

.card-challenge:hover {
  text-decoration: unset;
  color: inherit
}

.card-challenge img {
  height: 60%;
  width: 100%;
  object-fit: cover;
}

.card-challenge-infos {
  padding: 16px;
}

.card-challenge h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-challenge-category {
  position: absolute;
  left: 16px;
  top: 16px;
  // width: 40%;
  // height: 15%;
  overflow: visible;
}
